<!DOCTYPE html>
<html>
  <head>
    <title>BestBandsRailsIntro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>
        <%= link_to "Homepage", home_path %>
      </li>
      <li>
        <%= link_to "About us", about_path %>
      </li>
    </ul>
    <%= yield %>
    <h1>O footer...</h1>
  </body>
</html>
